<%- include('layouts/header', {title: 'ログイン'}) %>
  <h2>ログイン</h2>
  <form method="POST" action="/login">
    <label for="username">ユーザー名</label>
    <input id="username" type="text" name="username"/>
    <label for="password">パスワード</label>
    <input id="password" type="password" name="password"/>
    <input type="submit" value="ログイン"/>
  </form>
  <a href="/items">商品一覧に戻る</a>
<%- include('layouts/footer.ejs') %>
