<%- include('layouts/header', {title: 'ご注文が完了しました'}) %>
  <h2>注文内容</h2>
  <ul>
    <% orderedItems.forEach(orderedItem => { %>
      <li>
        <%= `${orderedItem.name} ${orderedItem.price} *  ${orderedItem.quantity} = ${orderedItem.price * orderedItem.quantity}` %>
      </li>
    <% }) %>
  </ul>
  <span>お支払い予定額: <%= totalPrice %>円</span>
<%- include('layouts/footer.ejs') %>
