<%- include('layouts/header', {title: '注文する'}) %>
<body>
  <% if (!items) { %>
    <%= "カートが空です" %>
  <% } else { %>
    <h2> カートの中の商品 </h2>
    <table>
      <thead>
        <th>商品名</th>
        <th>数量</th>
        <th>金額（合計）</th>
      </thead>
      <tbody>
        <% items.forEach(item => { %>
          <%- include('orderItem.ejs', {item}) %>
        <% }) /* end of for block */ %>
      </tbody>
    </table>
    <form method="POST">
      <h3>購入する</h3>
      <label for="fullname">お名前（受取時に必要です）</label>
      <input id="fullname" name="fullname" />
      <label for="tel">電話番号（連絡時に必要です）</label>
      <input id="tel" type="tel" name="tel" />
      <label for="receiveTime">受け取り目安時間</label>
      <input id="receiveTime" name="receiveTime" type="time"/>
      <input type="submit" value="注文を確定する"/>
    </form>
  <% } /* end of if block */%>
  <a href="/items"">他の商品を追加する</a>
</body>
</html>
