<%- include('layouts/header', {title: 'ユーザー登録'}) %>
  <h2>ユーザー登録</h2>
  <form method="POST" action="/signup">
    <label for="username">ユーザー名</label>
    <input id="username" type="text" name="username"/>
    <label for="password">パスワード</label>
    <input id="password" type="password" name="password"/>
    <input type="submit" value="登録"/>
  </form>
  <p><%= locals.errorMessage || '' %></p>
<%- include('layouts/footer.ejs') %>

